.message {
  display: flex;
  justify-content: end;
  margin-bottom: 25px;
}

.imageAndText {
  display: flex;

}

.imageAndText img {
  width: 48px;
  height: 48px;
  margin-left: 10px;
}

.text {
  width: 470px;
  position: relative;
  background-color: #0066CC;
  color: #FFFFFF;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
}

.text:after {
  content: "";
  position: absolute;
  border: 0 solid transparent;
  border-top: 9px solid #0066CC;
  border-radius: 0 20px 0;
  transform: rotate(97deg);
}

.text:after {
  content: '';
  position: absolute;
  top: 30px;
  right: -3px;
  border-top: 12px solid transparent;
  border-right: 12px solid #0066CC;
  border-left: none;
  border-bottom: 12px solid transparent;
}

.name {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: end;
}

.messageText {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}

.time {
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  font-weight: bold;
  margin-left: 8px;
  display: flex;
  align-items: end;
}
