.message {
    font-family: 'Montserrat';
    margin-bottom: 45px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
}

.imageAndText img {
    width: 48px;
    height: 48px;

}

.imageAndTime {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;

    position: relative;
}

.text {
    display: flex;
    gap: 5px;
    flex-direction: column;

    position: relative;


    padding: 5px 15px;

    border-radius: 5px;


    color: #FFFFFF;
    background-color: #0066CC;

    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
}

.text:after {
    content: '';
    position: absolute;
    right: -16px;
    bottom: 0;
    border: 10px solid transparent;
    border-bottom: 10px solid #0066CC;
    border-left: 10px solid #0066CC;
}

.name {
    align-self: end;

    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
}

.messageText {
    font-family: inherit;

    max-width: 1000px;

    white-space: pre-wrap;
    word-break: keep-all;
    overflow-wrap: break-word;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #FFFFFF;
}


.time {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;

    position: absolute;
    bottom: -15px;

    color: #000000;
}