.input:focus {
    outline: none;
}

.input {
    width: 372px;
    height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.superInput {
}

.errorInput {
    border: 1px solid #CC1439;
}

.error {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #CC1439;
    margin: -15px auto auto 0;
}
