.radio {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.radio::before {
}


.radio:checked::before {
    width: 21px;
    height: 21px;
}

.label {
    display: flex;
    flex-direction: row;
    color: #000;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 3px 0 10px 0;
}

.options {
}
