.item {
  border-bottom: 1px solid #E5E5E5;
}

.item:last-of-type {
  border-bottom: none;
}

.users {
  width: 100%;
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  border-spacing: 0;
}

.buttonsContainer {
  display: flex;
  justify-content: end;
  gap: 12px;
}

.container {
  width: 610px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.thead {
  background-color: #E5E5E5;
  font-family: Roboto, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 36px;
}

.nameCol, .ageCol {
  width: 50%;
}

.name, .age {
  border-bottom: 1px solid #E5E5E5;
}

.nameCol, .ageCol, .name, .age {
  padding: 11px 0 9px 17px;
}


