.item {
  border-bottom: 1px solid #E5E5E5;
}

.item:last-of-type {
  border: none;
}

.users {
  margin-top: 18px;
  width: 600px;
  border-collapse: collapse;
}

.buttonsContainer {
  display: flex;
  justify-content: end;
  margin-top: 33px;
  gap: 12px;
}

.container {
  width: 600px;
}

.thead {
  background: #E5E5E5;
}

.nameCol {
  width: 300px;
  height: 47px;
  padding: 10px 17px;
  font-weight: 300;
  font-size: 14px;
  color: #000000;
}

.ageCol {
  height: 47px;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
}


