.spanBlock {
}

.span {
    position: absolute;
    color: #0080FF;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding: 4px 0;
}

.input {
    width: 276px;
}

.pen {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}