.spanBlock {
    display: flex;
}

.span {
    padding-left: 10px;
    padding-top: 2px;
}

.input {
    width: 20vw;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    padding-left: 2vw;
    color: #000;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 500;
}

.pen {
}