.App {
    --header_height: 60px;
}

.hw {
    padding: 15px;
    border: 1px solid #D9D9D9;
}

.hwTitle {
    font-family: monospace sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    padding-left: 100px;
}