.App {
    --header_height: 60px;
}

.hw {
margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 32px;
}

.hwTitle {
    font-family: 'Monsterrat', sans-serif;
    text-align: left;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    margin: 37px auto 10px 70px;
}