.greetingForm {
}

.inputAndButtonContainer {
}

.error {
}

.input {
}

.input:focus {
}

.errorInput {
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
