.greetingForm {
  width: 20px;
  height: 20px;
}

.inputAndButtonContainer {
  width: 240px;
  height: 240px;
}

.error {
}

.input {
  width: 240px;
  height: 240px;
}

.input:focus {
}

.errorInput {
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
  font-size: medium;
}

.greeting {
}
