.sendForm {
    display: grid;
    grid-template-areas: 'text button';
    margin: 56px 70px 32px 70px;
    justify-content: center;
}

.textarea {
    grid-area: text;
    resize: none;
    width: 976px;
    background: #F5F7FB;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 20px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    opacity: 0.9;
    padding: 12px 24px 11px 24px;
}

textarea:focus{
    color: #000000;
}

.button {
    grid-area: button;
    width: 120px;
    height: 40px;
    background: #0066CC;
    border-radius: 20px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 44px;
}

.button:hover {
    text-shadow: 0 5px 20px rgba(29, 33, 38, 0.7), 0 1px 2px rgba(29, 33, 38, 0.77);
}

.button:active {
    transform: scale(0.92);
}
