.select {
  color: #000;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 180px;
  height: 25px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid #C2C2C2;
  background: #FFF;
  margin-right: 110px;
  outline:none;
  cursor: pointer;
}

.select:focus {
  border-radius: 2px;
  border: 1px solid #000;
  background: #FFF;
}

.option {

}

.option:hover {
  background-color: #1E90FF;
}

