.burgerMenuIcon {
    margin-left: 73px;
}

.header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 40px rgba(29, 33, 38, 0.13), 0 0 2px rgba(29, 33, 38, 0.1);
}

.header h1 {
    margin: 17px 70px 14px 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}