.button {
}

.disabled {
}

.secondary {
}

.default {
}

.red {
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
