.button {
    width: auto;
    height: 30px;
    padding: 5px 24px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    border-radius: 3px;
    border: none;

}

.disabled {
    background: #004D99;
    opacity: 0.5;
    color: #002E5C;

}

.secondary {
    border: 1px solid #0066CC;
    background: none;
    color: #0066CC;
}

.default {
    background: #0066CC;
    color: #FFFFFF;
}

.red {
    background: #CC1439;
    color: #FFFFFF;
}

.default:hover {
    background: #0080FF;
}

.red:hover {
    background: #FF1A47;
}

.secondary:hover {
    background: #E5F0FA;
}


.default:active {
    background: #0059B3;
}

.secondary:active {
    background: #C9E5FF;
}

.red:active {
    background: #B31232;
}

