.button {
    padding: 5px 24px;
    border: 0;
    border-radius: 3px;
    color: white;
    background: #0066CC;
    cursor: pointer;
}

.disabled {
    color: #002E5C;
    opacity: 0.5;
    cursor: unset;
}

.secondary{
    border: #0066cc 1px solid;
    background: white;
    color: #0066CC;
}

.default {
}

.red {
    background: #CC1439;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
